name: Build and Deploy React App to GitHub Pages
on:
  push:
    branches: [main]
jobs:
  build-push-gcr:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: npm install

      - name: Deploy
        run: |
          git config --global user.name 'lazyjinchuriki'
          git config --global user.email 'rahulkhushalani@proton.me'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}    
          npm run deploy
